.ComposedIcon__extraIcon {
    text-shadow:
        0.75px 0px 0.5px #FFF,
        0px 0.75px 0.5px #FFF,
        -0.75px 0px 0.5px #FFF,
        0px -0.75px 0.5px #FFF;
}

.ComposedIcon__position__top-start {
    top: 0px;
    left: 0px;
}
.ComposedIcon__position__top {
    top: 0px;
}
.ComposedIcon__position__top-end {
    top: 0px;
    right: 0px;
}
.ComposedIcon__position__left-start {
    left: 0px;
    top: 0px;
}
.ComposedIcon__position__left {
    left: 0px;
}
.ComposedIcon__position__left-end {
    left: 0px;
    bottom: 0px;
}
.ComposedIcon__position__right-start {
    right: 0px;
    top: 0px;
}
.ComposedIcon__position__right {
    right: 0px;
}
.ComposedIcon__position__right-end {
    right: 0px;
    bottom: 0px;
}
.ComposedIcon__position__bottom-start {
    left: -4px;
    bottom: -4px;
}
.ComposedIcon__position__bottom {
    bottom: 0px;
}
.ComposedIcon__position__bottom-end {
    right: -4px;
    bottom: -4px;
}